#main-page {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../assets/pokeball.png");
    background-repeat: no-repeat;
}

.results-container {
    display: flex;
    flex-direction: column;
    flex: wrap;
    text-align: center;
    padding: 10px;
    margin: 20 20 20 20;
    align-items: center;
    width: 200px;
    height: 200px; 
}

img {
    width: 75px;
    height: 75px;
}

.results-content {
    display: flex;
    flex-direction: column;
    color: #f7c548;
    font-size: 0.9rem;
}

/* 19-17 */